/**
* Reset some basic elements
*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
* Basic styling
*/
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
* Set `margin-bottom` to maintain vertical rhythm
*/
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
* Images
*/
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
* Figures
*/
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
* Lists
*/
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
       margin-bottom: 0;
  }
}



/**
* Headings
*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/**
* Links
*/
a {
  font-weight: 300;
  color: $brand-color;
  text-decoration: none;
  transition: all 150ms ease;

  &:hover {
    color: $brand-green;
    text-decoration: none;
  }
}

/**
* Blockquotes
*/
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
      margin-bottom: 0;
  }
}



/**
* Code formatting
*/
pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
* Wrapper
*/
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
* Clearfix
*/
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
* Icons
*/
.icon {
  display: inline-block;

  > svg {
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: middle;

    path {
      fill: #333;
    }
  }
}

.note {
  display: inline-block;
  background: rgba(#000, .05);
  padding: 20px;
  border-radius: 3px;
  border: 1px solid rgba(#000, .2);
  margin: 20px 0;
}
